.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .headShot {
        width: 150px;
        border-radius: 50%;
    }

    .info {
        display: flex;

        .line {
            margin: 0 .25rem;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;

            .line {
                display: none;
            }
        }

    }
}


.list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    &-item {
        margin: 0 1%;
        flex: 1 1 31.3333%;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        @include mobile {
            margin: 1rem 0;
            flex: 1 1 100%;
        }
    }

    .subList {
        list-style: disc;
        border-top: 3px solid gray;

        &-item {
            padding: .25rem;
        }
    }
}

.image {
    width: 100%;
    object-fit: cover;
}

.linkGroup {
    text-align: center;
    margin-top: 1rem;

    .linkBtn {
        padding: 0.25em .5rem;

    }
}